###### configuration

### Database location
db_host = $META_DB/human/hg19/Hg19.fa.index	
db_meta = $META_DB/1267sample_ICG_db/4Group_uniqGene.div_1.fa.index,$META_DB/1267sample_ICG_db/4Group_uniqGene.div_2.fa.index #参考基因集db前缀，多个文件可以用逗号分隔

### reference gene length file
RGL  = $META_DB/IGC.annotation/IGC_9.9M_update.fa.len 
### pipeline parameters
PhQ = 33        		#reads Phred Quality system: 33 or 64.
mLen= 30                #minimal read length allowance
seedOA=0.9				
fragOA=0.8

qsub = 1234             #Following argment will enable only if qusb=on, otherwise you could commit it
q   = st.q              #queue for qsub
P   = st_ms             #Project id for qsub
B   = 1					
B1  = 3					
p   = 6                 
p1  = 1					
p4  = 1					
f1  = 0.5G              #virtual free for qsub in step 1 (trim & filter)
f2  = 6G                #virtual free for qsub in step 2 (remove host genes)
f3  = 14G               #virtual free for qsub in step 3 (aligned to gene set)
f4  = 8G                #virtual free for qsub in step 4 (calculate soap results to abundance)
s   = 120				
r   = 10                #repeat time when job failed or interrupted